* {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

body {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2457cf;
    height: 70px;
    Position: relative; /*check position top menu*/
}

header{
   box-shadow: 0 3px 5px #2c2b2b;
}

h1 {
    width: 100%;
    text-align: center;
    color: #fff;
    align-items: center;
}

header .drop{
    position: absolute;
	left: 30px;
}

header .drop a.hamburger img {
    font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}

header .drop a.hamburger:hover img {
    color: #fff;
}

nav.sub-menu {
	width: 200px;
	height: 200px;
	background-color:#2457cf;
	position: absolute;
	left: -300px;
	transition: .3s all;
    z-index: 10; 
}

nav.sub-menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #fff;
}
nav.sub-menu a:hover {
    background-color: #bcb9b9;
    color: black;
    padding: 10px;
}

.sub-menu_show {
	left: 0!important;
}

.top-logo img{
    position: absolute;
    right: 30px;
    bottom: 5px;
    Height: 60px;
    width: 100px;
}

main {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
  
h2 {
    width: 100%;
    margin: 50px 0 50px 0;
    text-align: left;
    text-justify: inter-word;
}

p {
    text-align: justify;
    text-justify: inter-word;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.cover img {
    width: 100%;
    height: 80%;
    align-items: center;
    text-align: center;
}

.cover {
    position: relative;
    align-items: center;
}

.exp {
    position: absolute;
    width: auto;
    font-size: 25px;
    font-weight: bold;
    bottom: 30px;
    color: #ffffff;
    text-size-adjust: 80%;
    padding: 20px;
}

table {
    display:block;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    border-spacing: 30px 15px;
    padding: 0 40px;    
}

#tour-img img{
    width: 100%;
    height: 300px;
    align-items: center;
}

tr th {
    text-align: left;
     padding: 10px 0;
}

tr th a {
    color: #000000;
}

tr th a:hover {
    color: #2457cf;
}

tr td p {
    align-items: center;
    text-align: left;
    padding: 5px 0;
    font-size: 14px;
}

button{
    margin:0;
    Padding:0;
    border:none;
    border-color:#ffffff;
} 

.cta {
    background-color: #2457cf;
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

#btn-order a:hover {
   color:#000000;
   background-color: #bcb9b9;
}

footer {

    position: relative;
    padding: 20px 30px 20px 30px;
    display: flex;
    background:#2457cf;
    width: 100%;
    align-items: center;
}

.footer-info { 
    position: absolute;
    word-spacing: 2px;
    color: #ffffff;
}

.footer-menu {
    position: absolute;
    right: 90px;
    /* float: right;remove */
    color:  #fff;
    text-decoration: none;
}

.footer-menu a {
    margin-left: 30px;
    margin-right: 0;
}
.footer-menu a:hover {
    background-color: #bcb9b9;;
    color: #000000;
    padding: 10px;
}

 @media only screen and (max-width: 1200px) {
    main {
          max-width: none;
          width: auto;
        }
    #tour-img img{
            width: 100%;
            height: 100%;
        }
}
 @media only screen and  (max-width: 800px) {
     h1 {
            font-size: 100%;
        }
    h2,h3, p {
            font-size: 80%;
        }
    .exp {
            font-size: 80%;
        }
    .top-logo img{
            width: auto;
        }
    header {
            max-width: none;
            width: auto;
        }
    footer {
            width: auto;
        }
    .footer-menu {
            font-size: 80%;
        }
    table{
            width: auto;
        }
    table tr th td {
            width: auto;
            font-size: 80%;
        }
    #tour-img img{
            width: 100%;
            height: 100%;
        }
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    h1 {
        font-size: 100%;
    }
h2,h3, p {
        font-size: 80%;
    }
.exp {
        font-size: 80%;
    }
.top-logo img{
        width: fit-content;
    }
header {
        max-width: none;
        width: auto;
    }
footer {
    display: flex;
        width: auto;
    }
.footer-menu {
        font-size: auto;
}
.footer-menu ul{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
}

table {
        width: 50%;
        padding: 10px 10px;
    }

table tr th td {
            width: auto;
        font-size: 80%;
    }


}
/*
@media only screen and (max-width: 677px) {
    [class*="col-"] {
        width: 100%;
        }
    table{
            width: auto;
        }
    .top-logo img{
            max-width: 100%;
        }
    table{
            max-width: none;
            width: auto;
        }
    #tour-img img{
            width: 100%;
            height: 100%;
        }
}
*/